<nav id="menu">
    <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/sobre-mi">Sobre mí</a></li>
        <li><a href="/proyectos">Proyectos</a></li>
        <li><a href="/habilidades">Habilidades</a></li>
        <li><a href="/contacto">Contacto</a></li>
        <li><a href="/sugerencias">Sugerencias</a></li>
    </ul>
</nav>
