<!DOCTYPE HTML>
<html>
	<head>
		<title>Sobre Mí</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			{{> header}}

		<!-- Nav -->
			{{> navbar}}

			<section id="about" class="wrapper bg-img" data-bg="banner1.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Sobre Mí</h2>
							<p>Conoce más sobre mi trayectoria y experiencia.</p>
						</header>
						<div class="content">
							<p>Mi nombre es Lady Castiblanco y soy estudiante de último semestre de Ingeniería en Sistemas. Tengo una pasión por el desarrollo de aplicaciones web y la gestión de proyectos. A lo largo de mi carrera, he adquirido conocimientos en diversas tecnologías como Python, JavaScript, HTML, CSS, y frameworks como React y Node.js. Además, he trabajado en proyectos que me han permitido aplicar estos conocimientos de manera práctica y efectiva.</p>
							<p>Actualmente, estoy enfocada en el desarrollo de mi proyecto de graduación, que consiste en una aplicación web para la gestión de un taller mecánico de motos, un proyecto que me ha retado y motivado a seguir aprendiendo cada día.</p>
						</div>
					</article>
				</div>
			</section>

		<!-- Footer -->
			{{> footer}}

	</body>
</html>